body {
    color: white;
}

header{
    background-color: #fff387;  
}

content {
    width: 100%;
    background-color: #fff387;
}

footer {
    background-color: #fff387;    

  
}

